* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #4b91f1;
    color: #FAf5EF;
    min-height: 100vh;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 5%;
    background: #4b91f1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    margin-top: 0px;
}

.logo {
    text-decoration: none;
    font-size: 25px;
    color: #FAf5EF;
}

.navbar a {
    font-size: 18px;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 590;
    margin-left: 35px;
    transition: 0.2s;
}

.navbar a:hover {
    color: #1e3a60;
}

.home {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10% 100px;
}

.homecontent {
    max-width: 600px;
    
    
}

.homecontent h1 {
    font-size: 56px;
    font-weight: 700;
    margin-bottom: 10px;
    line-height: 1.2;
}

.homecontent h3 {
    font-size: 32px;
    font-weight: 700;
    color: #1e3a60;
    margin-bottom: 15px;
}

.homecontent p {
    font-size: 16px;
}

.photoMe {
    display: flex;
    margin-left: 30%;
    position: relative;
    width: 700px;
    height: 700px;
    overflow: hidden;

}

.photoMe img {
    width: 100%;
    height: auto;
    
}

.about {
    height: 10vh;
    display: flex;
    align-items: center;
    pad: 0 10%;
    justify-content: center;
}

.aboutContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 92%;
    flex-wrap: wrap;
    padding: 10 0 100px 0;
    margin: 12% 0 0 0;
}

.aboutTitle {
    display: flex;
    flex-direction: row;
    width: 100%;
    z-index: 5;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 30px;
}

.aboutTitle h2 {
    font-size: 42px;
    font-weight: 700;
    line-height: 1.2;
    border-bottom: 1px solid #1e3a60;
}

.aboutContainer h3 {
    display: flex;
    justify-content: center;
    font-size: 32px;
    font-weight: 700;
    color: #1e3a60;
    margin-bottom: 15px;

}

.aboutcontent {
    max-width: 50%;

}

.aboutContainer p {
    font-size: 16px;
    margin-bottom: 30px;
    margin-right: 10px;
    text-align: center;
    
}

.skillscontent {
    max-width: 50%;

}

.skillLogoPhotos {
    position: relative;
    width: 97%;
    display: flex;
    justify-content: space-between;
}

.skillLogoPhotos .skillLogos {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    font-size: 40px;
    color: #1e3a60;
    text-decoration: none;
    width: 100%;
    justify-content: space-evenly;
}

.bx:hover {
    text-shadow: 1px 1px 3px #1e3a60;
}

#contactFormOverlay {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin: 10% 0 0 0;
}

.contactForm {
    max-width: 550px;
    width: 90%;
    margin: 20vh auto 100px auto;
    padding: 40px;
    border-radius: 8px;
    box-sizing: border-box;
}

.contactForm h2 {
    font-size: 42px;
    font-weight: 700;
    line-height: 1.2;
    border-bottom: 1px solid #1e3a60;
    text-align: center;
}

label {
    display: block;
    margin: 20px 0;
}

input, textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
    resize: none;
    border: none;
    border-bottom: 1px solid #1e3a60;
    border-radius: 8px;
}

input[type="text"]:focus, textarea:focus {
    border-bottom: 1px solid #4b91f1;
}

textarea::-webkit-scrollbar {
    width: 4px;
}

textarea::-webkit-scrollbar-thumb {
    background-color: #4b91f1;
}

.formCenter {
    text-align: center;
}

input[type="submit"] {
    margin-top: 30px;
    width: 90%;
    max-width: 200px;
    background: linear-gradient(to right, #1e3a60, #4b91f1, #1e3a60);
    color: white;
    font-size: 17px;
    border-radius: 8px;
}

input[type="submit"]:hover {
    box-shadow: 1px 1px #1e3a60;
}

.footer {
    display: flex;
    position: sticky;
    top: 100%;
    background: #1e3a60;
    height: 100px;
    justify-content: center;
    align-items: center;
}