* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #4b91f1;
    color: #FAf5EF;
    min-height: 100vh;
    margin: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.header {
    background: #4b91f1;
    padding: 20px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    text-decoration: none;
    font-size: 25px;
    color: #FAf5EF;
    order: -1;
    margin-right: auto;
}

.navbar {
    display: flex;
    align-items: center;
}


.navbar a {
    font-size: 18px;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 590;
    margin-left: 35px;
    transition: 0.2s;
}

.navbar a:hover {
    color: #1e3a60;
}

.navbar a:last-child {
    margin-right: 0;
}

.home {
    padding: 100px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 120px);
}

.home-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    padding: 0 20px;
}

.homecontent {
    flex-basis: 100%;
    max-width: 600px;
    padding-right: 20px;
}

.home-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.homecontent h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 1.2;
    color: #1e3a60;
    margin-bottom: 10px;
}

.homecontent h3 {
    font-size: 28px;
    font-weight: 700;
    color: #1e3a60;
    margin-bottom: 20px;
}

.homecontent p {
    font-size: 18px;
    line-height: 1.6;
    color: #FAf5EF;
    margin-bottom: 30px;
}

.photoMe {
    max-width: 500px;
    padding-left: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.photoMe img {
    width: 100%;
    max-width: 400px;
}

.about {
    padding: 100px 0;
    color: #1e3a60;
    text-align: center;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.about.visible {
    opacity: 1;
    transform: translateY(0);
}

.aboutContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 92%;
    flex-wrap: wrap;
    padding: 10 0 100px 0;
    margin: 12% 0 0 0;
}

.about-title {
    text-align: center;
    margin-bottom: 50px;
}


.aboutTitle h2 {
    font-size: 42px;
    font-weight: 700;
    line-height: 1.2;
    border-bottom: 1px solid #1e3a60;
    color: #ffffff; 
    display: inline-block; 
    padding: 0 20px; 
    margin-top: 20px;
}

.aboutContainer h3 {
    display: flex;
    justify-content: center;
    font-size: 32px;
    font-weight: 700;
    color: #1e3a60;
}

.about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aboutContainer p {
    font-size: 16px;
    margin-bottom: 30px;
    margin-right: 10px;
    text-align: center;
}

.aboutcontent,
.skillscontent {
    margin-bottom: 50px;
    text-align: center;
}

.skillscontent h3 {
    font-size: 32px;
    font-weight: 700;
    color: #1e3a60;
    margin-bottom: 15px;
}

.aboutcontent h3 {
    font-size: 32px;
    font-weight: 700;
    color: #1e3a60;
    margin-bottom: 15px;
}

.aboutcontent p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 30px;
    text-align: center;
    color: #000000; 
}

.skillscontent p {
    font-size: 18px;
    line-height: 1.6;
    text-align: center;
    color: #000000; 
}

.skillLogos {
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skillLogoPhotos {
    position: relative;
    width: 97%;
    display: flex;
    justify-content: space-between;
    background-color: #5595f5; 
    padding: 20px; 
    border-radius: 8px; 
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1); 
}

.skillLogoPhotos .skillLogos {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    font-size: 40px;
    color: #1e3a60;
    text-decoration: none;
    width: 100%;
    justify-content: space-evenly;
}

.bx:hover {
    text-shadow: 1px 1px 3px #1e3a60;
}

/* Center the form vertically and horizontally */
#contactFormOverlay {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Use the full viewport height */
}

.contactForm {
    max-width: 450px;
    width: 90%;
    padding: 40px;
    border-radius: 8px;
    background-color: #FAf5EF; /* Light background color */
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.contactForm h2 {
    font-size: 30px; /* Slightly reduce font size */
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
    color: #1e3a60;
}

label {
    font-weight: 600;
    margin-bottom: 8px;
}

input,
textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px; /* Increase margin to add spacing between fields */
    border: 1px solid #ddd; /* Light gray border */
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s;
}

input[type="text"]:focus,
textarea:focus {
    border-color: #4b91f1; /* Update border color on focus */
}

.formCenter {
    text-align: center;
}

input[type="submit"] {
    background: linear-gradient(to right, #1e3a60, #4b91f1, #1e3a60);
    color: white;
    font-size: 16px;
    padding: 10px 20px; /* Adjust padding for button */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}

input[type="submit"]:hover {
    transform: scale(1.05); /* Slightly scale up on hover */
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.error {
    color: #ff0000;
    font-size: 14px;
}

.footer {
    display: flex;
    top: 100%;
    background: #1e3a60;
    height: 100px;
    justify-content: center;
    flex-wrap: wrap;
}

.footer .footer-content {
    display: flex;
    align-items: center;
}

